*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;                      /**/
}

p{
    font-size: 12px;
}

/* -------------------------------------- HEADER -------------------------------------- */

div.top-header{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

header{
    background-color: #EAC926;
    padding: 2px;
    position: fixed;
    top: 0;
    z-index: 999;
}

header div.logo{
    width: 50%;
    padding: 10px;
}

header nav{
    font-size: 12px;
    display: none;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form{
    display:flex;
    width: 50%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: end;
}

header div .submit{
    display:flex;
    width: 20%;
    flex-wrap: wrap;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 3px 0;   
}

header div .input{
    display:flex;
    width: 80%;
    flex-wrap: wrap;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: solid 1px #ebebeb;
    padding: 3px 0 3px 5px;
}

header .form .input{
    background-color: #FFF;
    outline: none;
    color: #666;
    }

header .form .submit{
    background-color: #FFF;
    color: #666;
    width: 12%;
    align-items:center;
    text-align: center;
}

header .form .submit i{
    text-align: center;
 }

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu{
    text-align: center;
    padding: 10px;
    display: block;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

section.banner img{
    width: 100%;
}

/* ------------------------------------ MAIN ------------------------------------ */

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section h3{
    margin: 20px 0px;
}

main section.products {
    display: flex;
    width: 80%;
}

main section article img{
    width: 100%;
}

/*MICRODESAFIO 1.2*/
main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    display: flex;  
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
}

.price{
    font-size: 18px;
    flex: 30%;
}
/*se puede usar with*/
.discount{
flex: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3, .description{
    color: #666;
}

/*MICRODESAFIO 1.1*/   
main section article div .description{
    display: none;
    margin-top: 20px;
    transition: display 450ms;
}
main section article:hover div .description {   
    display: block;
}

main section article i,
.discount{
    color: #39b54a;
}

main section div article div i{   /*segun enunciado*/
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
        transition: transform 450ms;     /**/
}

/*MICRODESAFIO 1.3*/
main section div article:hover div i{
    transform: rotate(-90deg);
}



/* -------------------------------------- FORMULARIOS -------------------------------------- */

.login-container {
    margin: auto;
    display: flex;
    text-align: center;
    margin-top: 250px;
    justify-content: center;
    max-width: 350px;
}


.login-container form {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    max-width: 90%;
}

form .user-name-login, form .password, form .login-button-container {
    margin: 10px;
    width: 350px;
    height: 35px;;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;

}

form .user-name-login input, form .password input {
    width: 80%;
    border: none;
    padding-left: 15px;
}

 form .login-button {
    background-color: #3583fa;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}


form .login-button a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 240px;
}

.form-register [type="submit"], .form-register [type="reset"] {
    background-color: #3583fa;
    margin: 10px;
    color: #ebebeb;
    border-radius: 5px;
    width: 40%;
    height: 30px;
    border:none;
    cursor: pointer;
}

.form-register {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-bottom: 40px;
}

.form-register * {
    margin: 5px;
}

.form-register [type="text"], .form-register [type="date"], .form-register [type="password"], .form-register [type="email"] {
    width: 100%;
    border-radius: 4px;
    border: 0;
    height: 30px;
    padding: 4px;
}

.div-submit {
    justify-content: end;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    text-align: right;
}


/* -------------------------------------- FOOTER -------------------------------------- */

footer section div.footer-icon {
    color: #0044AA;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    padding: 0;
}
footer section div h4 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

footer section div p {
    margin: 0;
    padding: 0;
}

footer section {
    text-align: center;
    padding: 10px;
    color: #666;
}



/* -------------------------------------- PROYECTO ADAPTATIVO -------------------------------------- */

@media (min-width: 361px) and (max-width: 769px) {
        .description {
            display: block;
        }
        header div.top.header {
            display: flex;
            text-align: center;
            justify-content: space-between;
            flex-wrap: wrap;
            align-content: center;
        }
        header div.logo{
            display: flex;
            width: 150px;
        }
    
        header div.form{
            display: flex;
            width: 30%;
        }
        header nav{
            display:flex;
            justify-content: space-between;
        }
        nav .nav-left {
            display:flex;
            justify-content: flex-start;
            padding: 10px;
            width: 50%;
        }
    
        nav .user-nav-list {
            display:flex;
            justify-content: flex-end;
            padding: 10px;
            width: 50%;
        }
        header ul li {
            list-style-type: none;
            padding: 5px;
        }
        
        header ul li a {
            text-decoration: none;
            color: #000;
        }
    
        header nav {
            display:flex;
            justify-content: space-between;
        }
    
        div.burger-menu {
            display:none;
        }
    
        main section article {
            box-shadow: 0 0 10px rgb(100,100,100);
            flex: 40%;
            margin: 10px;
        }
        main section article .description{
            display: block;
        }
        .products {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }   
        .form-register {
            width: 50%;
        }
    
        .login-container {
            width: 80%;
           margin-top: 200px;
           max-width: 600px;
        }
        form .user-name-login input, form .password input {
            width: 100%;
        }
        form .login-button {
            width: 100%;
        }
        section.banner {
            margin-top: 150px; 
        }
        
    }


@media (min-width: 769px){
    
.description {
    display: none;
}
header div.top-header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

header .copy-header {
    max-width: 350px;
    text-align: right; 
}

header div.logo{
    display: flex;
    width: 150px;
}

header div.form {
    display: flex;
    width: 30%;
}
header nav {
    display:flex;
    justify-content: space-between;
}

nav .nav-left {
    display:flex;
    justify-content: flex-start;
    padding: 10px;
    width: 50%;
}

nav .user-nav-list {
    display:flex;
    justify-content: flex-end;
    padding: 10px;
    width: 50%;
}

header ul li{
    list-style-type: none;
    padding: 5px;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

div.burger-menu{
    display: none;
}

main section .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main section article {
    flex: 22%;
    margin: 10px;
}

main section article:hover {
    box-shadow: 0 0 10px rgb(100,100,100);
}

main section article:hover .description {
    display: block;
}

main section .products .main-article i:hover {
    transform: rotate(-90deg);
    transition-duration: 450ms;
}

.login-container form div.login-button-container .login-button:hover {
    background-color: #39b54a;
}

/*
footer section .footer-icon i:hover {
    color: #39b54a;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    padding-top: 20px;
}
footer section {
    width: 30%;
}
footer div {
    flex-direction: row;
    width: 90%;
    padding: 10px;
}
footer div p {
    text-align: center;
    font-size: 16px;
}

*/

.form-register {
    width: 50%;
}
header {
    width: 100%;
    margin:auto;
}
header div.top-header, header .main-navbar {
    margin: auto;
    flex-wrap: nowrap;
}
section.banner, .login-container {
    margin-top: 125px; 
}
form .user-name-login, form .password, form .login-button-container {
    margin: 10px;
    max-width: 650px;
    height: 35px;;
    display: flex;
    justify-content: center;
}
.login-container { 
    max-width: 750px;;
}

footer section .footer-icon i:hover {
    color: #EAC926;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    padding-top: 20px;
}
footer section {
    width: 30%;
}
footer div {
    flex-direction: row;
    width: 90%;
    padding: 10px;
}
footer div p {
    text-align: center;
    font-size: 16px;
}

}